{% extends "base.html" %}
{% block title %}Game{% endblock %}

{% block contents %}
<div class="gameboard">
    <div class="game-cont">
        <div class="heading">
            <h1>Computer Science Jeopardy</h1>
        </div>
        <div class="question-table">
            <table>
                <tr>
                    <th>Computer Science</th>
                </tr>
                <tr>
                    <td><a href="#" data-category-id="1" data-point-value="100" class="question-trigger">$100</a></td>
                </tr>
            </table>
        <div>
        <h5>Player 1</h5>
        <div id="total-display">
            Total: $<span id="dollar-total">0</span>
        </div>


        <!-- Question Popup -->
        <div id="question-popup" class="question-popup">
            <iframe id="question-iframe" src="" frameborder="0"></iframe>
        </div>
    </div>
<div>

<!--<script src="{{ url_for('static', filename='index.js') }}"></script>-->


{% endblock %}