{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block contents %}
<header>
    <h2 class="csJeopardy">CS Jeopardy</h2>
    <nav class="navigation">
      {% if user.is_authenticated %}
        <a id="home" href="/home">Home</a>
        <a id="game" href="/jeopardy">Game</a>
        <a id="logout" href="/logout">Logout</a>
      {% else %}
        <a href="#">About</a>
      {% endif %}
    </nav> 
</header>     

  
  {% with messages = get_flashed_messages(with_categories=true)%}
  {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
<form method="POST">
    <div class="bg-wall">
        <div class="wrapper">
            <div class="form-box login">
                <h2>Login</h2>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="email" name="email" required placeholder="Email">
                    <label></label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="password" name="password"  required placeholder="Password">
                    <label></label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#"> Forgot Password?</a>
                </div>
                <button type="submit" class="submit-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </button>
                <div class="login-register">
                    <p>Don't have an account?<a href="/sign-up" class="register-link"> Register now!</a></p>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}