<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_questions.css') }}" />
    </head>
    <body>
        <div class="question-cont">
            <div class="question-header">
                <h2>Which programming language is known for its ease of use and readability?</h2>
            </div>
            <div class="timer-container">
                <div class="timer-bar"></div>
            </div>
            <div class="options">
                <button id="opt-A">A. Python</button>
                <button id="opt-B">B. C++</button>
                <button id="opt-C">C. Java</button>
                <button id="opt-D">D. Ruby</button>
            </div>
        </div>
        <script>
        // Add a click event listener to each answer choice
        const answerChoices = document.querySelectorAll('button');
        answerChoices.forEach(function(choice) {
            choice.addEventListener('click', function() {
                const answer = this.textContent;
                // Send the answer to the parent window
                window.parent.postMessage({ answer: answer }, '*');
            });
        });
        </script>
    </body>
</html>