{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block contents %}
<form method="POST">
    <div class="bg-wall">
        <div class="wrapper">
            <div class="form-box register">
                <h2>Registration</h2>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="email" name="email" required placeholder="Email">
                    <label></label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" id="firstName" name="firstName" required placeholder="Name">
                    <label></label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="password1" name="password1" required placeholder="Enter Password">
                    <label></label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="password2" name="password2 " required placeholder="Confirm Password">
                    <label></label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> I agree to the terms & conditions</label>
                </div>
                <button type="submit" class="submit-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Register
                </button>
                <div class="login-register">
                    <p>Already have an account?<a href="/login" class="login-link"> Login here!</a></p>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}