{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block contents %}
<header>
    <h2 class="csJeopardy">CS Jeopardy</h2>
    <nav class="navigation">
      {% if user.is_authenticated %}
        <a id="home" href="/">Home</a>
        <a id="game" href="/jeopardy">Game</a>
        <a id="logout" href="/logout">Logout</a>
      {% else %}
        <a href="#">About</a>
      {% endif %}
    </nav> 
</header>     


{% with messages = get_flashed_messages(with_categories=true)%}
{% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
    <div class="alert alert-error">
      {{message}}
      <!-- <span class="close-btn" onclick="closeAlert()"></span> -->
      <button class="close-btn" onclick="closeAlert()">&times;</button>
    </div>
    
  {% else %}
    <div class="alert alert-success">
      {{message}}
      <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>
    </div>
  {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}

<div class="bg-wall">
  <div class="cont">
    <span class="border-line"></span>
    <form method="POST">
      <div class="form-box-register">
        <h2 class="register-title">Registration</h2>

        <div class="register-content">

          <div class="register-box">
            <i class="ri-user-3-line login-icon"></i>
                  
            <div class="register-box-input">
              <input type="email" id="register-email" class="register-input" name="email" required placeholder=" ">
              <label for="register-email" class="register-label">Email</label>
            </div>
          </div>


          <div class="register-box">
            <i class="ri-user-3-line login-icon"></i>
                  
            <div class="register-box-input">
              <input type="text" id="firstName" class="register-input" name="firstName" required placeholder=" ">
              <label for="firstName" class="register-label">Name</label>
            </div>
          </div>
          

          <div class="register-box">
            <i class="ri-lock-2-line login-icon"></i>
                  
            <div class="register-box-input">
              <input type="password" id="password1" class="register-input" name="password1" required placeholder=" ">
              <label for="password1" class="register-label">Password</label>
            </div>
          </div>


          <div class="register-box">
            <i class="ri-lock-2-line login-icon"></i>
                  
            <div class="register-box-input">
              <input type="password" id="password2" class="register-input" name="password2" required placeholder=" ">
              <label for="password2" class="register-label">Confirm Password</label>
            </div>
          </div>      
        </div>


        <div class="register-check">
          <div class="register-check-group">
            <input type="checkbox" class="register-check-input" id="register-check">
            <label for="register-check" class="register-check-label">Accept terms & conditions</label>
          </div>

          <!--<a href="#" class="login-forgot">Forgot Password?</a>-->
        </div>

        <button type="submit" class="submit-btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Register
        </button>
              
        <p class="login-register">Already have an account? <a href="/" class="login-link">Login here!</a></p>       
        
      </div>
    </form>
  </div>
</div>
{% endblock %}