/* @import url('https://fonts.cdnfonts.com/css/arcade-classic'); */
@import url('https://fonts.cdnfonts.com/css/arcade');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Poppins", sans-serif;*/
    font-family: 'Arcade Normal', sans-serif;
}

body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    width: 580px;
    height: 620px;
}

h2 {
    background-color: #0074c2;
    color: #fff;
    padding: 10px;
}

/* Update the styling for question buttons */
.question-table button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;
}

.question-table button:hover {
    background-color: #2980b9;
}