/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");*/
@import url('https://fonts.cdnfonts.com/css/arcade-classic');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Poppins", sans-serif;*/
    font-family: 'ArcadeClassic', sans-serif;
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

input {
  border: none;
  outline: none;
}

.csJeopardy {
    font-size: 5em;
    color: #ffffff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 2.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/*
body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1; /* Light gray background 
    text-align: center;
    padding: 20px;
}*/
.bg-wall {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: #ffffff;*/
  background: url('backgroung_blue-abstract-shape-neon-lines.jpg');
  background-size: cover;
  background-position: center;
}

/**************              Cont animation           *****************************/
/* The code below is the animation for the box that surrounds the login in and sign up forms*/
.cont {
  position: relative;
  width: 580px;
  height: 620px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.cont::before {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff,#45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.cont::after {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff,#45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.border-line {
  position: absolute;
  top: 0;
  inset: 0;
}

.border-line::before {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#ff2770,#ff2770,#ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.border-line::after {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#ff2770,#ff2770,#ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cont .form-box-login {
  position: absolute;
  inset: 3px;
  background: #000000;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(8px);
}

.cont .form-box-register {
  position: absolute;
  inset: 3px;
  background: #000000;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(8px);
}

/**************              End Cont animation         *****************************/

.login-title {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
}

.login-content, .login-box {
  display: grid;
}

.login-content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.login-box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid #fff;
}

.login-icon, .login-eye {
  font-size: 2.25rem;
  color: #fff;
}

.login-input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.login-box-input {
  position: relative;
}

.login-label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s, font-size 0.3s;
  color: #fff;
}

.login-eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}

.login-box:nth-child(2) input {
  padding-right: 1.8rem;
}

.login-check, .login-check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-check {
  margin-bottom: 1.5rem;
}
.login-check-label, .login-forgot, .login-register {
  font-size: 1rem;
  color: #ffffff;
}

.login-check-group {
  column-gap: 0.5rem;
}

.login-check-input {
  width: 16px;
  height: 16px;
}

.login-forgot {
  color: #fff;
}

.login-forgot:hover {
  text-decoration: underline;
}

.login-register {
  text-align: center;
  font-size: 1rem;
}

.login-register a {
  color: #fff;
  font-weight: 500;
}

.login-register a:hover {
  text-decoration: underline;
}

.login-input:focus + .login-label {
  top: -12px;
  font-size: 1rem;
}

.login-input:not(:placeholder-shown).login-input:not(:focus) + .login-label {
  top: -12px;
  font-size: 0.813rem;
}
/*=============== BREAKPOINTS ===============*/
/* For medium devices */
/*
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .form-box-login {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login-title {
    font-size: 2rem;
  }
}
*/
/******************* REGISTER STYLING *****************/
.register-title {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
}

.register-content, .register-box {
  display: grid;
}

.register-content {
  row-gap: 0.80rem;
  margin-bottom: 1.0rem;
}

.register-box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid #fff;
}

.login-icon, .login-eye {
  font-size: 1.25rem;
  color: #fff;
}

.register-input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.register-box-input {
  position: relative;
}

.register-label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s, font-size 0.3s;
  color: #fff;
}

.login-eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}

.register-box:nth-child(2) input {
  padding-right: 1.8rem;
}

.register-check, .register-check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-check {
  margin-bottom: 1.5rem;
}
.register-check-label, .register-forgot, .login-register {
  font-size: 0.813rem;
  color: #ffffff;
}

.register-check-group {
  column-gap: 0.5rem;
}

.register-check-input {
  width: 16px;
  height: 16px;
}


.login-register {
  text-align: center;
}

.login-register a {
  color: #fff;
  font-weight: 500;
}

.login-register a:hover {
  text-decoration: underline;
}

.register-input:focus + .register-label {
  top: -12px;
  font-size: 0.813rem;
}

.register-input:not(:placeholder-shown).register-input:not(:focus) + .register-label {
  top: -12px;
  font-size: 0.813rem;
}

/*=============== END REGISTER STYLING ===============*/

/*************************************************************************/
/****************** Jeopardy HTML*********************/

.gameboard {
  font-family: Arial, sans-serif;
  background-color: #ecf0f1; /* Light gray background */
  text-align: center;
  padding: 20px;
}


.game-cont h5 {
  margin: 0;
  padding: 2em;
}

.game-nav {
  background-color: #3498db; /* Blue header */
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.game-nav h1 {
  color: #000000;
  display: inline-block;
}


.game-nav a {
  position: relative;
  font-size: 1.1em;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  float: right; 
}

.game-nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -6px;
  background: #000000;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.game-nav a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}


.question-table table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question-table th {
  background-color: #34495e; /* Dark blue heading background */
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Style the table cells */
.question-table td {
  padding: 10px;
  text-align: center;
}

/* Style the links for point values */
.question-table a {
  text-decoration: none;
  color: #e67e22; /* Orange point value color */
  font-weight: bold;
  transition: color 0.3s;
}

.question-table a:hover {
  color: #e74c3c; /* Red point value color on hover */
}

/* Style for the question popup */
.question-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

/* Style for the iframe */
#question-iframe {
  width: 80%;
  height: 80%;
  margin: 10% auto;
  display: block;
}

/* Style for the question options */
.question-options {
  text-align: center;
  margin-top: 20px;
}
/*************************************************************************/
/* This is the submit button DO NOT CHANGE */
.submit-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: #000000;
    border: none;
    outline: none;
  }
  
.submit-btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
.submit-btn span {
    position: absolute;
    display: block;
  }
  
.submit-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
.submit-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
.submit-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
.submit-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
/*************************************************************************/








