/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");*/
/* @import url('https://fonts.cdnfonts.com/css/arcade-classic'); */
@import url('https://fonts.cdnfonts.com/css/arcade');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Poppins", sans-serif;*/
    font-family: 'Arcade Normal', sans-serif;
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

input {
  border: none;
  outline: none;
}

.csJeopardy {
    font-size: 3em;
    color: #ffffff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/*
body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1; /* Light gray background 
    text-align: center;
    padding: 20px;
}*/
.bg-wall {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: #ffffff;*/
  background: url('backgroung_blue-abstract-shape-neon-lines.jpg');
  background-size: cover;
  background-position: center;
}
/**************              Alert stuff           *****************************/
/* The code below is the animation for the box that surrounds the login in and sign up forms*/

.alert {
  padding: 0.2rem 1rem;
  text-align: center;
  color: #FFF;
}



.alert .close-btn {
  float:right;
  position: relative;
  border: none;
  background-color: #cdfa02;
}

.alert-error {
  background-color: #ef1c1c;
  border-color: #EF5350;
}
.alert.alert-success {
  background-color: #64DD17;
  border-color: #64DD17;
}



/**************              Cont animation           *****************************/
/* The code below is the animation for the box that surrounds the login in and sign up forms*/
.cont {
  position: relative;
  width: 580px;
  height: 620px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.cont::before {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff,#45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.cont::after {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff,#45f3ff);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.border-line {
  position: absolute;
  top: 0;
  inset: 0;
}

.border-line::before {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#ff2770,#ff2770,#ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.border-line::after {
  content: '';
  position: absolute;
  top:-50%;
  left: -50%;
  width: 580px;
  height: 620px;
  background: linear-gradient(0deg,transparent,#ff2770,#ff2770,#ff2770);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cont .form-box-login {
  position: absolute;
  inset: 3px;
  background: #000000;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(8px);
}

.cont .form-box-register {
  position: absolute;
  inset: 3px;
  background: #000000;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(8px);
}

/**************              End Cont animation         *****************************/

.login-title {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
}

.login-content, .login-box {
  display: grid;
}

.login-content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.login-box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid #fff;
}

.login-icon, .login-eye {
  font-size: 1.25rem;
  color: #fff;
}

.login-input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.login-box-input {
  position: relative;
}

.login-label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s, font-size 0.3s;
  color: #fff;
}

.login-eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}

.login-box:nth-child(2) input {
  padding-right: 1.8rem;
}

/* .login-check, .login-check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-check {
  margin-bottom: 1.5rem;
}
.login-check-label, .login-forgot, .login-register {
  font-size: 0.8rem;
  color: #ffffff;
}

.login-check-group {
  column-gap: 0.5rem;
}

.login-check-input {
  width: 16px;
  height: 16px;
} */

.login-face, .login-face-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-face {
  margin-bottom: 1.5rem;
}
.login-forgot, .login-register {
  font-size: 0.8rem;
  color: #ffffff;
}

.login-face-group {
  column-gap: 0.5rem;
}


.login-forgot {
  color: #fff;
}

.login-forgot:hover {
  text-decoration: underline;
}

.login-register {
  text-align: center;
  font-size: 20px;
}

.login-register a {
  color: #fff;
  font-weight: 200;
}

.login-register a:hover {
  text-decoration: underline;
}

.login-input:focus + .login-label {
  top: -12px;
  font-size: 0.813rem;
}

.login-input:not(:placeholder-shown).login-input:not(:focus) + .login-label {
  top: -12px;
  font-size: 0.813rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}
/*=============== BREAKPOINTS ===============*/
/* For medium devices */
/*
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .form-box-login {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login-title {
    font-size: 2rem;
  }
}
*/
/******************* REGISTER STYLING *****************/
.register-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
}

.register-content, .register-box {
  display: grid;
}

.register-content {
  row-gap: 0.80rem;
  margin-bottom: 1.0rem;
}

.register-box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid #fff;
}

.login-icon, .login-eye {
  font-size: 1.25rem;
  color: #fff;
}

.register-input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.register-box-input {
  position: relative;
}

.register-label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s, font-size 0.3s;
  color: #fff;
}

.login-eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}

.register-box:nth-child(2) input {
  padding-right: 1.8rem;
}

.register-check, .register-check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-check {
  margin-bottom: 1.5rem;
}
.register-check-label, .register-forgot, .login-register {
  font-size: 0.8rem;
  color: #ffffff;
}

.register-check-group {
  column-gap: 0.5rem;
}

.register-check-input {
  width: 16px;
  height: 16px;
}


.login-register {
  text-align: center;
}

.login-register a {
  color: #fff;
  font-weight: 500;
}

.login-register a:hover {
  text-decoration: underline;
}

.register-input:focus + .register-label {
  top: -12px;
  font-size: 0.813rem;
}

.register-input:not(:placeholder-shown).register-input:not(:focus) + .register-label {
  top: -12px;
  font-size: 0.813rem;
}

/*=============== END REGISTER STYLING ===============*/

/*************************************************************************/
/****************** Jeopardy HTML*********************/

/* .gameboard {
  font-family: Arial, sans-serif;
  background-color: #000000; 
  text-align: center;
  padding: 20px;
  align-items: center;
  background-size: cover;
} */

.admin-page {
  color: #fff;
}
.upload {
  color: #fff;
}

.gameboard {
  margin: 0;
  padding: 10px;
  /* display: flex; */
  /* justify-content: center;*/
  /* align-items: center; */
  text-align: center;
  height: 100vh;
  background: #000000;
  /* background: url('backgroung_blue-abstract-shape-neon-lines.jpg'); */
  background-size: cover;
  background-position: center;
}

#total-display {
  color: #FFF;
}
.game-nav {
  background-color: #3498db; /* Blue header */
  padding: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.game-nav h1 {
  color: #ffffff;
  display: inline-block;
}


.game-nav a {
  position: relative;
  margin-right: 20px;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  float: right; 
}

.game-nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -6px;
  background: #ffffff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.game-nav a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}


.question-table {
  display: grid;
  justify-items: stretch;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 25px;
  column-gap: 10px;
  /* max-width: 1000px; */
  height: 80%;
  margin: 0 auto;
  margin: 10px;
}

.question-table button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #2980b9;
}

.gamescore {
  display: flex;
  justify-content: space-evenly;
}

.player_box {
  display: block;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-style: double;
  border-width: 5px;
  border-color: white;
  /* font-size: 1rem; */
  background-color: #000000;
  border-radius: 10px;
}

.player_name {
  display: block;
  color: #FFF;
  font-size: 1.5rem;
}

.player_total {
  display: block;
  color: #FFF;
}

/* Style for the question popup */
.question-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

/* Style for the iframe */
#question-iframe {
  width: 80%;
  height: 80%;
  margin: 10% auto;
  display: block;
}

/* Style for the question options */
.question-options {
  text-align: center;
  margin-top: 20px;
}

.categories {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(6, 1fr);
  justify-items: stretch;
  margin: 10px;
  column-gap: 10px;
}

.categories button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.categories button:hover {
  background-color: #2980b9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  z-index: 1;
}

.modal-container {
  color: white;
  position: fixed;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  padding: 20px;
  z-index: 2;
  border-radius: 10px;
}

.question-text {
  background-color: #0074c2;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.timer-container {
  display: block;
  position: relative;
  margin-top: 50px;
  width: 70%;
  height: 10%;
  border: 5px solid #ffffff;
  overflow: hidden;
  padding: 20px;
}

.timer-bar {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  height: 100%;
  width: 99%;
  background-color: #4CAF50;
  animation: slideTimer 15s linear infinite;
}

@keyframes slideTimer {
  0% {
      width: 100%;
  }
  100% {
      width: 0;
  }
}


.answer-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 100px;
  column-gap: 100px;
  margin-top: 10rem;
}

.options {
  border-radius: 10px;
  font-size: 2rem;
  background-color: #0074c2;
  color: #fff; 
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* top: 90%;
  left: 10%;
  margin-right: -50%;
  transform: translate(-50%, -50%) */
}

.options:hover {
  background-color: rgb(145, 0, 0);
}

.submit-answer, .close-question{ 
  border-radius: 10px;
  font-size: 1rem;
  background-color: #0074c2;
  color: #fff; 
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/*************************************************************************/
/* This is the submit button DO NOT CHANGE */
.submit-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    background-color: #000000;
    border: none;
    outline: none;
  }
  
.submit-btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
.submit-btn span {
    position: absolute;
    display: block;
  }
  
.submit-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
.submit-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
.submit-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
.submit-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
/*************************************************************************/
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 50%;
  height: 60px; 
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #fff; 
  background-color: #e74c3c; 
  padding: 10px;
  border-radius: 5px;
}





